@charset "utf-8";
/*!
* by zhangxinxu(.com) 2010-?
* https://github.com/zhangxinxu/zxx.lib.css
* under MIT license
*/
/*
* 2010-07-12 v1.0
* 2010-07-21 v1.1 添加block元素居中之auto属性，增加鼠标手形样式
* 2010-09-17 v1.2 添加z-index层级属性
* 2010-09-29 v1.3 添加break-word属性
* 2010-11-12 v1.4 添加white-space:nowrap;值，去掉Georgia字体
* 2011-01-17 v1.5 去除red颜色，添加cell双栏自适应属性，z样式影响扩至IE7，样式位置以及顺序调整，dib样式忽略Firefox 2，去除Lucida Console字体，添加Verdana字体，添加letter-spacing样式
* 2011-07-28 v1.6 增加vertical-align:bottom属性，增加点点点效果多样
* 2012-01-18 v1.7 点点点效果样式去除-moz-前缀，多余；增加修复cell下连续单词字符换行问题；去除.ovs{overflow:scroll;}
                  去除.vimg{margin-bottom:-3px;}
* 2013-05-24 v2.0 为开源到github上做大改
                  1. 增加margin负值范围
                  2. margin/padding增加15px/30px组
                  3. 中文字体改成英文字符表示，例如“微软雅黑” → "microsoft yahei"
                  4. 新增border系列, background-color系列, width(fixed value/percent value)系列以及.ell以下所有样式
* 2013-07-31 v2.1 inline_any等12px字体大小限制去除，inline_box的-3px间距缩进改成-.25em, 以便适应各种字体大小环境
* 2013-09-13 v2.2 12px字体大小限制修改为1px笔误了，应该为1em, 删除-ms-transition
* 2013-10-11 v2.3 float_seven一直没删除，清掉。增加两个绝对定位隐藏：abs_out和abs_clip
* 2013-11-23 v2.4 add p0, ova, f18. 去除trans中-moz-和-o-私有前缀
* 2014-02-26 v2.5 fix two name mistake
* 2014-02-27 v2.6 add fl
*/

/* ---------------------single CSS----------------------- */

/* display */
.dn{display: none;}
.di{display: inline;}
.db{display: block;}
.dib{display: inline-block;}/* if the element is block level(eg. div, li), using 'inline_any' instead */

/* width */
.w20{width: 20px}
.w35{width: 35px}
.w50{width: 50px}
.w70{width: 70px}
.w80{width: 80px}
.w100{width: 100px}
.w150{width: 150px}
.w200{width: 200px}
.w280{width: 280px}
.w300{width: 300px}
.w320{width: 320px}
.w350{width: 350px}
.w400{width: 400px}

/* height */
.h20{height: 20px}
.hp100{height: 100%}

/* margin */
.m0{margin: 0}
.mt6{margin-top: 6px}
.mt20{margin-top: 20px}

.mb6{margin-bottom: 6px}

.ml15{margin-left: 15px}
.ml25{margin-left: 25px}
.ml40{margin-left: 40px}
.ml50{margin-left: 50px}

.mr5{margin-right: 5px}
.mr15{margin-right: 15px}

/* padding */
.p0{padding: 0}
.p5{padding: 5px}
.pr50{padding-right: 50px}

/* line-height */
.lh24{line-height: 24px}
.lh30{line-height: 30px}

/* border name rule: border(b)-position(l/r/t/b/d)-width(null/2)-style(null/sh)-color(first one letter/first two letter) |-> All colors are safe color*/
.bdc{border: 1px solid #ccc}
.bddc{border: 1px solid #dcdcdc;}

/* background-color name rule: bg - (key word/Hex color) |-> All colors are safe color */
.bgwh{background-color: #fff}

/* font-size */
.f12{font-size: 12px}
.f14{font-size: 14px}

/* font-size */
.cf00{color:red;}

/* font-family */
.fa{font-family:Arial;}
.ft{font-family:Tahoma;}
.fv{font-family:Verdana;}
.fs{font-family:Simsun;}
.fl{font-family:'Lucida Console';}
.fw{font-family:'Microsoft Yahei';}

/* font-style */
.n{font-weight:normal; font-style:normal;}
.b{font-weight:bold;}
.i{font-style:italic;}

/* text-align */
.tc{text-align:center;}
.tr{text-align:right;}
.tl{text-align:left;}
.tj{text-align:justify;}
.tjl{text-align-last: justify;}

/* text-decoration */
.tdl{text-decoration:underline;}
.tdn,.tdn:hover,.tdn a:hover,a.tdl:hover{text-decoration:none;}

/* white-space */
.nowrap{white-space:nowrap;}

/* word-wrap */
.bk{word-wrap:break-word;}

/* vertical-align */
.vm{vertical-align:middle;}
.vb{vertical-align:bottom;}
.vt{vertical-align:top;}
.vtb{vertical-align:text-bottom;}
.vn{vertical-align:-2px;}

/* float */
.l{float:left;}
.r{float:right;}

/* clear */
.cl{clear:both;}

/* position */
.rel{position:relative;}
.abs{position:absolute;}

/*z-index*/
.zx1{z-index:1;}
.zx2{z-index:2;}

/* cursor */
.poi{cursor:pointer;}
.def{cursor:default;}

/* overflow */
.ovh{overflow:hidden;}
.ova{overflow:auto;}

/* visibility */
.vh{visibility:hidden;}
.vv{visibility:visible;}

/* zoom */
.z{*zoom:1;}

/* ------------------- multiply CSS ------------------ */

/* 块状元素水平居中 */
.auto{margin-left:auto; margin-right:auto;}
/* 清除浮 动*/
.fix{*zoom:1;}
.fix:after{display:table; content:''; clear:both;}
/* 基于display:table-cell的自适应布局 */
.cell{display:table-cell; *display:inline-block; width:2000px; *width:auto;}
/* 双栏自适应cell部分连续英文字符换行 */
.cell_bk{display:table; width:100%; table-layout:fixed; word-wrap:break-word;}
/* 单行文字溢出虚点显 示*/
.ell{text-overflow:ellipsis; white-space:nowrap; overflow:hidden;}
/* css3过渡动画效果 */
.trans{
    -webkit-transition:all 0.3s;
    transition:all 0.3s;
}
/* 大小不定元素垂直居中 */
.dib_vm{display:inline-block;height:100%; vertical-align:middle;}
/* 加载中背景图片 - 如果您使用该CSS小库，务必修改此图片地址 */
.loading{background:url(http://www.zhangxinxu.com/study/image/loading.gif) no-repeat center;}
/* 无框文本框文本域 */
.bd_none{border:0; outline:none;}
/* 绝对定位隐藏 */
.abs_out{position:absolute; left:-999em; top:-999em;}
.abs_clip{position:absolute; clip:rect(0 0 0 0);}
/* 按钮禁用 */
.disabled{color:#acacac!important; border-color:#acacac!important; text-shadow:1px 1px #fff!important; outline:0!important; cursor:default!important; pointer-events:none;}
.disabled:hover{text-decoration:none!important;}
/*inline-block与float等宽列表*/
.inline_box{font-size:1em; letter-spacing:-.25em;}
.inline_two, .inline_three, .inline_four, .inline_five, .inline_six, .inline_any{display:inline-block; *display:inline; letter-spacing:0; vertical-align:top; *zoom:1;}
.float_two, .float_three, .float_four, .float_five, .float_six{float:left;}
.inline_two, .float_two{width:49.9%;}
.inline_three, .float_three{width:33.3%;}
.inline_four, .float_four{width:24.9%;}
.inline_five, .float_five{width:19.9%;}
.inline_six, .float_six{width:16.6%;}
.inline_fix{display:inline-block; width:100%; height:0; overflow:hidden;}

/* flex 弹性盒 */
/* 设为Flex布局以后，子元素的float、clear和vertical-align属性将失效。 */
/* 容器属性 */
.fh, .fv{-webkit-display: flex;display: flex;justify-content: space-around;align-content: space-around;}
.fh{flex-flow: row wrap;align-items: center;}
.fv{flex-flow: column wrap;}
.fjc{justify-content: space-between;}

/* 内容属性 */
.ff1{flex: 1}/*  <==>{flex-grow: 1;flex-shrink: 1;flex-basis: 0%;}   */
.fn{flex: none;}/*  <==>{flex-grow: 0;flex-shrink: 0;flex-basis: auto;}   */
.fa{flex: auto}/*  <==>{flex-grow: 1;flex-shrink: 1;flex-basis: auto;}   */
.ac{align-self: center}
