/* 基础样式 */
body{
    font-family: "Microsoft Yahei",'Hiragino Sans GB',"Simsun","Arial";
    font-size: 12px;
    color: #969696;
    word-break: break-all;
    list-style: none;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}
ul,li,p,img,td,input{
    padding: 0;
    margin: 0;
}

table{
    border-collapse: collapse;
}

td img{
   vertical-align: middle;
    cursor: pointer;
}

input{
    vertical-align: middle;
}

table caption,
table tfoot{
    font-weight: bold;
    text-align: left;
    color: #323232;
}

table caption{
    padding: 10px 0;
    line-height: 24px;
}

table tfoot span{
    margin:50px;
    line-height: 50px;
}
.shop-total{
    margin-left: 500px;
    color: #ff0000;
    font-size: 16px;
}

a:link,
a:visited{
    text-decoration: none;
    color: #323232;
}
a:disabled{
    background: grey;
}

a:hover{
    text-decoration: underline;
    color: red;
}
a.btn-middle,
a.btn{

    display: inline-block;
    background: red;
    border-radius: 2px;
    color: #fff;
    text-align: center;
    margin-left: 5px;
}

a.btn{
    width: 60px;
    line-height: 20px;
}

a.btn-middle{
    width: 110px;
    line-height: 40px;
    font-size: 18px;
}

a.btn-middle:hover,
a.btn:hover{
    background: #d21f2b;
}
a.btn-large{
    display: inline-block;
    width: 110px;
    line-height: 40px;
    font-size: 18px;
    font-weight: bold;
    background: red;
    text-align: center;
    color: #fff5f5;
    border-radius: 2px;
    vertical-align: middle;
    margin: 5px 15px;
}
a.btn-large:hover{
    text-decoration: none;
}

a.check-now{
    display: inline-block;
    width: 12px;
    height: 12px;
    border: 1px solid #bcbcbc;
    background-color: #fff;
    text-decoration: none;
    border-radius: 3px;
    font-size: 0;
    line-height: 0;
    overflow: hidden;
    margin: 0 5px;
    vertical-align: text-bottom;
}
a.check-now:hover{
    border-color: red;
}

a.check-on,
a.check-on:hover{
    border-color: red;
    background: red url(../images/icon_sprite.png) no-repeat -65px -1px;

}


.w960{
    width: 960px;
    margin-left: auto;
    margin-right: auto;
}


/* 页面主要样式 */
.header-wrapper{
    background: #f9f9f9;
    border-bottom: 1px solid #f2f2f2;
}

.header{
    position: relative;
    height: 34px;
    line-height: 34px;
    font-family: 'Hiragino Sans GB',"simsun","Arial";
}

.nav{
    position: absolute;
    right: 0;
}

.banner{
    padding-top: 17px;
    height: 50px;
}

.logo-wrapper{
    height: 100px;
    border-bottom: 4px solid #f00;
}
.logo{
    position: relative;
    height: 49px;
    padding-top: 20px;
}

.step{
    position: absolute;
    right: 0;
    bottom: 0;
}

.empty{
    position: relative;
    height: 280px;
    background: #fff url(../images/empty.png) no-repeat 50px center;
}

.empty p{
    margin: 15px 0;
}

.empty-tip{
    width: 500px;
    height: 150px;
    position: absolute;
    right: 0;
    bottom: 0;
}
#basket-list tbody,
#basket-list tfoot{
    background: #fafafa;
}
#basket-list tbody td{
    padding: 10px 0;
}
#basket-list tbody span{
    width: 28px;
    height: 28px;
    line-height: 28px;
    display: inline-block;
    border: 1px solid #dcdcdc;
    cursor: pointer;
    font-size: 22px;
}
#basket-list tbody span:hover{
    background: #fff5f5;
    color: #ff0000;
}

#basket-list input[type=text]{
    width: 28px;
    height: 28px;
    font-weight: bold;
    border: 1px solid #dcdcdc;
    vertical-align: bottom;
    text-align: center;
}

.adr-wrapper{
    background: #fafafa;
}
.adr{
    margin: 15px 0;
}
.login-tip{
    height: 34px;
    line-height: 34px;
    background: #fff5f5;
    color: #323232;
    border: 1px solid #ffecec;
    margin: 10px auto;
}
.icon{
    height: 18px;
    width: 18px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
    margin-right: 5px;
}
.icon-a{
    background: url(../images/car.gif) no-repeat 0 0;
}
.icon-b{
    background: url(../images/phone.png) no-repeat 5px -1px;
}
.icon-c{
    background: url(../images/icon_sprite.png) no-repeat -65px -94px;
}

.warn-icon{
    background: url(../images/icon_20150706.png) no-repeat 0 -60px;
}
.shop-icon{
    background: url(../images/icon_sprite.png) no-repeat 0 -30px;
}

.total-wrapper{
    margin: 20px auto;
    background: url(../images/shopping_total.png) no-repeat center;
}
.total{
    height: 72px;
    position: relative;
    line-height: 60px;
}
.total-left{
    width: 430px;
    height: 60px;
}
.total-right{
    position: absolute;
    width: 520px;
    top: 12px;
    right: 0;
    height: 60px;
    text-align: right;
}
.main-wrapper{
    position: relative;
    border: 1px solid #dcdcdc;
    margin-bottom: 25px;
    padding: 10px 0 15px;
}
.title{
    font-weight: bold;
    font-size: 16px;
    line-height: 36px;
    margin-left: 25px;
}
.indi{
    display: inline-block;
    position: absolute;
    right: 50px;
    line-height: 36px;
    height: 36px;
}
.indi .opt{
    display: inline-block;
    width: 10px;
    height: 10px;
    border: 1px solid red;
    border-radius: 10px;
    margin: 0 5px;
    cursor: pointer;
}
.rela-list,
.show-list{
    padding: 5px;
    width: 950px;
    overflow: hidden;
    position: relative;
}
.show-list{
    height: 280px;
}
.rela-list{
    height: 540px;
}
.show-box,
.rela-box{
    position: absolute;
    left:0;
    width: 10000px;
    transition: left 1.2s;
}
.page{
    width: 960px;
    height: 540px;
    display: inline-block;
}

.arrow{
    position: absolute;
    width: 960px;
    height: 0;
    top: 50%;
    margin:-34px 0 0 -5px;
    background: chartreuse;
}
#prev_page:hover,
#next_page:hover{
    box-shadow: 0 0 5px grey;
}
.arrow-right{
    position: absolute;
    right: 0;
}
.rela-box li,
.show-box li{
    width: 150px;
    text-align: center;
    padding: 15px 10px;
    float: left;
    margin: 0 11px;
    line-height: 16px;
    position: relative;
    overflow: hidden;
}
.rela-box li:hover,
.show-box li:hover{
    background: #efefef;
}
.show-box li:hover p:last-child{
    display: block;
}
.rela-box li p,
.show-box li p{
    text-align: left;
}
.show-box li p:last-child{
    display: none;
}
.rela-box li a img,
.show-box li a img{
    width: 150px;
    height: 150px;
    margin-bottom: 10px;
}
.price{
    font-size: 16px;
    line-height: 32px;
    color: red;
}
.add-basket{
    position: absolute;
    top:135px;
    background: #ff5e5e;
    color: white;
    cursor: pointer;
    width: 148px;
    line-height: 30px;
    display: none;
    opacity: 0.85;
}
.rela-box li:hover p:nth-of-type(4){
    display: block;
}

.ad-tip{
    position: absolute;
    right: 0;
    bottom: 0;
}

.footer-wrapper{
    margin-top: 10px;
    padding: 15px 0;
    border-top: 4px solid #f00;
}

.footer{
    text-align: center;
}





